<h1>Angular sample project for Angular 100 Days of Code</h1>
<h2>Day 15: Introduction to Dependency Injection in Angular</h2>

<br />

<app-product></app-product>

<!-- <app-toggle [(checked)]="questions.question1">
  <h3 class="toogle-header">Header 1</h3>
  <label ngProjectAs="app-label">Question 1</label>
  <span>Some paragraph</span>
</app-toggle>

<app-toggle [(checked)]="questions.question2">
  <h3 class="toogle-header">Header 2</h3>
  <span>Some paragraph 2</span>
  <label>Question 2</label>
</app-toggle>


<p>
  Design by: <a href="https://dribbble.com/shots/4707036-Switcher-XXXVIII" target="_blank">Oleg Frolov</a>
</p> -->
