<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>

<tab-group [(activeIndex)]="currentIndex">
  <tab-panel title="First tab">First tab content</tab-panel>
  <tab-panel title="Second tab">Second tab content</tab-panel>
  <tab-panel title="Third tab">Third tab content</tab-panel>
  <tab-panel title="Fourth tab">Fourth tab content</tab-panel>
</tab-group>

<tab-bs-group [(activeIndex)]="currentIndex">
  <tab-panel title="First tab">First tab content</tab-panel>
  <tab-panel title="Second tab">Second tab content</tab-panel>
  <tab-panel title="Third tab">Third tab content</tab-panel>
  <tab-panel title="Fourth tab">Fourth tab content</tab-panel>
</tab-bs-group>
