<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>

<!-- <tab-group [(activeIndex)]="currentIndex">
	<tab-panel title="First tab">First tab content</tab-panel>
	<tab-panel title="Second tab">Second tab content</tab-panel>
	<tab-panel title="Third tab">Third tab content</tab-panel>
	<tab-panel title="Fourth tab">Fourth tab content</tab-panel>
</tab-group> -->

<button class="btn btn-primary" (click)="showTab4 = !showTab4">
  Toggle tab 4
</button>
<tab-bs-group [(activeIndex)]="currentIndex">
  <tab-panel title="First tab">
    <ng-template tabContent>
      First tab content
      <counter></counter>
    </ng-template>
  </tab-panel>
  <tab-panel title="Second tab">
    <ng-template tabContent>
      Second tab content
      <counter></counter>
    </ng-template>
  </tab-panel>
  <tab-panel title="Third tab">
    <ng-template tabContent>
      Third tab content
      <counter></counter>
    </ng-template>
  </tab-panel>
  <tab-panel title="Fourth tab" *ngIf="showTab4">
    <ng-template tabContent>
      Fourth tab content
      <counter></counter>
    </ng-template>
  </tab-panel>
</tab-bs-group>
